[submodule "vendor/diskdev_cmds"]
	path = vendor/diskdev_cmds
	url = https://github.com/apple-oss-distributions/diskdev_cmds.git
[submodule "vendor/libutil"]
	path = vendor/libutil
	url = https://github.com/apple-oss-distributions/libutil.git
[submodule "lib/libbsdmalloc"]
	path = lib/libbsdmalloc
	url = git@github.com:somestupidgirl/libbsdmalloc.git
[submodule "libsbuf"]
	path = lib/libsbuf
	url = git@github.com:somestupidgirl/libsbuf.git
[submodule "lib/libkext"]
	path = lib/libkext
	url = git@github.com:somestupidgirl/libkext.git
