[submodule "vendor/libutil"]
	path = vendor/libutil
	url = https://github.com/apple-oss-distributions/libutil.git
[submodule "lib/libkext"]
	path = lib/libkext
	url = https://github.com/somestupidgirl/libkext.git
